.container{
  width: 300px;
  height: max-content;
  margin: auto;
  background-color: rgb(72, 0, 155);
  padding: 20px 15px;
  margin-top: 120px;
  border-radius: 7px;
  box-shadow: 6px 7px rgba(32, 0, 119, 0.2);
}

h1{
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  
}

.login-form{
  padding: 5px;
  margin-left: 56px;
  color: aliceblue;
}

.form-field {
  background: rgba(0, 0, 0, .05);
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 7px ;
  margin-top: 20px;
  outline: none;
  transition: all .2s linear;
}

.form-field:focus{
  outline: none;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}

.form-error {
  display: block;
  color: rgb(237, 67, 55);
  font-size: 0.9em;
  font-weight: 600;
}

.button {
  border-color:rgba(187, 175, 255, 0.5);
  color: aliceblue;
  border-radius: 5px;
  background-color: rgba(12, 81, 231, 0.7);
  margin-top: 2rem;
  border:none;
  margin-bottom: 25px;
  padding: 7px 72px;
  cursor: pointer;
  box-shadow: 0 1.7px 4px rgba(0, 0, 0, .5);
}

.openModalBtn{
  box-shadow: 0 1.7px 3px rgba(0, 0, 0, .5);
  border:none;
  color:aliceblue;
  border-radius: 5px;
  background-color: rgba(0, 23, 71, 0.7);
  margin-bottom: 25px;
  padding: 7px 48px;
  cursor: pointer;
}

