.container{
  width: 350px;
  height: 350px;
  margin: auto;
  background-color: rgb(235, 233, 236);
  padding: 20px 15px;
  margin-top: 120px;
  border-radius: 7px;
  box-shadow: 7px 9px rgba(35, 0, 46, 0.7);
}

h1{
  color:rgb(73, 1, 95);
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.login-form{
  margin-top: 35px;
  padding: 5px;
  margin-left: 28px;
}

.form-field {
  color:rgb(56, 0, 82);
  border: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .17);
  display: inline-block;
  padding: 9px 50px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all .2s linear;
  font-size: 1.0em;
  
}

.form-field:focus{
  outline: none;
  box-shadow: 0 4px 4px rgba(38, 0, 51, 0.67);
}

.form-error {
  display: block;
  color: rgb(237, 67, 55);
  font-size: 0.9em;
  font-weight: 600;
}

.button {
  pointer-events: initial;
  font-family:Arial, Helvetica, sans-serif;
  background-color: rgb(98, 1, 143);
  color: aliceblue;
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 6px 85px;
  border: none;
  margin-left: 48px;
}

.openModalBtn{
  position: center;
  font-family:Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgb(11, 0, 22);
  padding: 6px 61px;
  border-radius: 6px;
  border: none;
  margin-left: 48px;
  transition: all .2s linear;
}

.button, .openModalBtn:hover{
  cursor: pointer;
}